# Copy this file to .env for local development
# NEVER commit .env to Git

AZURE_CLIENT_ID=34f46ccc-3bdd-4a28-b79e-c0f592704616
AZURE_CLIENT_SECRET=your-service-principal-client-secret-here
AZURE_TENANT_ID=e083c691-e6e0-4941-b4da-bbd048d77d89
AZURE_SUBSCRIPTION_ID=84e688d7-af3e-499e-bb47-1f58997ddf23
AZURE_RESOURCE_GROUP=rg-ytpipeline-dev-eastus
KEY_VAULT_NAME=kv-ytpipeline-dev-001
YOUTUBE_API_KEY=AIzaSyCBfOnOHyKbBPy8XVLhvoWjNbS3ysvu_ro
DATABRICKS_HOST=https://adb-XXXXXXXXXXXXXXXX.X.azuredatabricks.net
DATABRICKS_TOKEN=your-databricks-pat-token